.navbar {
  background-color: #fff;
}
.nav-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0 20px 0 20px;
}
.nav-text-active {
  border-bottom: black 1px solid;
}

.home-icon {
  margin-left: 30px;
  color: rgb(150, 139, 124);
}

h1 {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: end;
  margin-right: 200px;
  margin-top: 10px;
}

/* homepage banner */

.home-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-text {
  position: absolute;
  font-family: "Questrial", sans-serif;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.image-text h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.image-text p {
  font-size: 18px;
}

/* cards */

.card-title {
  text-align: center;
}

/* about page */

.about-section {
  margin: 60px;
  font-family: "Lato", sans-serif;
  color: rgb(73, 72, 66);
}

/* gallery page */

.gallery {
  margin-top: 10px;
}

/* responsiveness */

@media screen and (max-width: 768px) {
  h1 {
    margin-left: 40px;
    margin-right: 100px;
  }
  .home-icon {
    display: none;
  }
  .image-text h2 {
    font-size: 18px;
    white-space: nowrap;
  }
  .image-text p {
    font-size: 12px;
    white-space: nowrap;
  }
}
