.navbar {
  background-color: #fff;
}
.nav-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0 20px 0 20px;
}
.nav-text-active {
  border-bottom: black 1px solid;
}

.home-icon {
  margin-left: 30px;
  color: rgb(150, 139, 124);
}

h1 {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: end;
  margin-right: 200px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-left: 40px;
    margin-right: 100px;
  }
  .home-icon {
    display: none;
  }
}

.home-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* about section */

.about-section {
  margin: 20px;
}
